/* body{
    background: linear-gradient(to bottom, #0a0c2c80 3rem, transparent 10rem),
            url(https://images.pexels.com/photos/133325/pexels-photo-133325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=600&dpr=1);
        background-position: center,
            bottom left;
        background-size: cover,
            cover;
        height: fit-content;
        color: #fafafc;
        padding: 15rem 3rem 6rem;
} */

.heroInner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

span {
    max-width: 50%;
}

h1 {
    font-weight: 900;
    font-size: clamp(2rem, 5.5vw, 3.25rem);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

/* @media (max-width: 576px) {
    background: linear-gradient(to bottom, #0a0c2c80 3rem, transparent);
    url(https://images.pexels.com/photos/133325/pexels-photo-133325.jpeg?auto=compress&cs=tinysrgb&w=800&h=750&dpr=1);
    background-position: center;
    bottom left;
    background-size: cover;
    cover;
    align-items: flex-start;
    padding-top: 7.5rem;
    height: 75vh;
    max-height: 720px;
} */